.form {
	display: flex;
	gap: 10px;
	margin-top: 20px;
}
.form input {
	height: 35px;
	border-radius: 5px;
	padding: 0 10px;
	background: rgba(255, 255, 255, 0.6);
	outline: none;
	border: none;
}
.form input::placeholder {
	font-size: 18px;
}
.form button {
	width: 101px;
	height: 35px;
	outline: none;
	border: none;
	cursor: pointer;
	background-color: transparent;
	border: 1px solid #ffd700;
	color: #ffd700;
	font-size: 17px;
	border-radius: 3px;
	font-weight: bold;
	transition: all 0.2s ease;
}
.form button:hover {
	background-color: #ffd700;
	color: #000;
}
